*
!/catserver-asyncd-backup.service
!/catserver-asyncd-backup.timer
!/catserver-asyncd.conf
!/catserver-asyncd.service
!/catserver-asyncd.sh
!/catserver-async.install
!/PKGBUILD
!/.gitignore
!/.SRCINFO
