[Unit]
Description=Minecraft Catserver Server World Backup
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/catserverd backup
User=catserver
Group=catserver

[Install]
WantedBy=multi-user.target
