[Unit]
Description=Minecraft Catserver Server
After=local-fs.target network.target multi-user.target

[Service]
Type=forking
ExecStart=/usr/bin/catserver-asyncd start
ExecStop=/usr/bin/catserver-asyncd stop
User=catserver
Group=catserver

[Install]
WantedBy=multi-user.target
